.main-gallery-project__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    max-height: 300px;
    vertical-align: top;
    width: calc((100vw / 3) - 45px);
    margin: 0;
    margin-bottom: 50px;
    margin-left: 27px;
    background-color: #FFF;
    border: 1px solid #DEE2E6;
    border-radius: 10px;
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    -ms-transition: box-shadow 0.2s ease;
    -o-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}

.main-gallery {
    display: flex;
    text-align: left;
    margin-top: 30px;
    box-sizing: border-box;
    justify-content: space-around;
}

.main-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-top: 30px;
    box-sizing: border-box;
}

footer {
    display: flex;
    z-index: 998;
    position: relative;
    height: 145px;
    width: 100%;
    background-color: rgba(35,31,32,0.85);
    padding: 0 46px;
    box-sizing: border-box;
    overflow-y: hidden;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1023px) {
    footer {
        height:auto
    }
}

@media (max-width: 479px) {
    footer {
        padding:0 18px
    }
}

footer p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #FFF
}

footer .logo {
    display: inline-block;
    margin-right: 34px
}

@media (max-width: 767px) {
    footer .logo {
        display:block;
        margin-right: 0
    }
}

footer .logo img {
    height: 25px
}

@media (max-width: 1023px) {
    footer .logo img {
        vertical-align:middle
    }
}